# 1. 원하는 캐릭터 그림을 찾아 도트 아트로 변환후 출력 
# https://snskeyboard.com/dotart/

In [5]:
print("""⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⠤⠖⠚⠉⠉⠀⠀⠀⠀⠉⠉⠙⠒⠤⣄⡀⠀⠀⣀⣠⣤⣀⡀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⠖⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⢯⡀⠀⠀⠀⠉⠳⣄⠀
⠀⠀⣀⠤⠔⠒⠒⠒⠦⢤⣀⢀⡴⠋⠀⠀⠀⠀⠀⠀⠀⠀⢠⣤⣄⠀⠀⠀⠀⠀⣴⢶⣄⠀⠀⠀⠉⢢⡀⠀⠀⠀⠘⡆
⢠⠞⠁⠀⠀⠀⠀⠀⠀⠀⠈⢻⡀⠀⠀⠀⠀⠀⠀⠀⠀⢠⡟⠀⢹⣧⠀⠀⠀⠀⣿⠀⢹⣇⠀⠀⠀⠀⠙⢦⠀⠀⠀⣧
⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣦⣼⣿⡇⠀⠀⠀⢿⣿⣿⣿⡄⠀⠀⠀⠀⠈⢳⡀⢀⡟
⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡸⠁⠀⠀⠀⠀⠀⠀⠀⠀⠈⣿⡿⠿⠿⣿⠀⠀⠀⠘⣿⡛⣟⣧⠀⠀⠀⠀⠀⠀⢳⠞⠀
⢳⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣷⡄⢴⡿⠀⠀⠀⠀⠘⣿⣷⡏⠀⢀⡠⠤⣄⠀⠀⣇⠀
⠀⢳⡀⠀⠀⠀⠀⠀⠀⢠⠏⠀⠀⠀⠀⠀⣠⠄⠀⠀⠀⠀⠀⠈⠛⠛⠁⣀⡤⠤⠤⠤⢌⣉⠀⠀⢠⡀⠀⠀⡱⠀⢸⡄
⠀⠀⠙⠦⣀⠀⠀⠀⣰⠋⠀⠀⠀⠀⠀⠸⣅⠀⠀⢀⡀⠀⠀⠀⢀⠴⠋⠀⠀⠀⠀⠀⠀⠈⠳⣄⠀⠈⠉⠉⠀⠀⢘⣧
⠀⠀⠀⠀⠈⠙⢲⠞⠁⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠁⠀⠀⠀⣰⣋⣀⣀⣀⣀⠀⠀⠀⠀⠀⠀⠈⢧⠀⠀⠀⠀⠀⢐⣿
⠀⠀⠀⠀⠀⠀⢸⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡰⠁⠀⠀⠀⠀⠀⠉⠙⠒⢤⣀⠀⠀⠈⣇⠀⠀⠀⠀⠀⣿
⠀⠀⠀⠀⠀⠀⠘⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠳⣄⠀⢸⠀⠀⠀⠀⢠⡏
⠀⠀⠀⠀⠀⠀⠀⢳⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⡆⠘⣧⠀⠀⠀⣸⠀
⠀⠀⠀⠀⠀⠀⠀⡟⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢱⢰⠏⠀⠀⢠⠇⠀
⠀⠀⠀⠀⠀⠀⢸⠁⠘⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡼⣸⠀⠀⢀⠏⠀⠀
⠀⠀⠀⠀⠀⠀⣿⠀⠀⠘⢆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡴⣣⠃⠀⣠⠏⠀⠀⠀
⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠈⠳⣄⠀⠀⠀⠀⠀⠀⠀⠀⠘⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡤⠞⡱⠋⢀⡴⠁⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⠈⠣⣄⠀⠀⠀⠀⠀⠀⠀⠹⣄⠀⠀⠀⠀⢀⣀⡤⠖⢋⡠⠞⢁⡴⠋⡇⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠸⡄⠀⠀⠀⠀⠀⠀⠈⠙⠢⣄⡀⠀⠀⠀⠀⠈⠙⠯⠭⢉⠡⠤⠴⠒⣉⠴⠚⠁⠀⢰⠃⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⢳⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢹⠖⠲⠤⠤⠤⠤⠤⠤⢶⡖⠚⠉⠀⠀⠀⠀⢀⡞⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢳⡀⠀⠀⠀⠀⠀⠀⠀⠀⡰⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠲⠤⠤⠤⠤⠔⠋⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢤⡀⠀⠀⠀⠀⣠⠞⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠛⠑⠒⠒⠋⠂⠐⠒⠀⠀⠒⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀""")

print("Jelly fellowa, I play this character on Super Smash Bros Ultimate, I wish This Character Game(Kirby Return to Dreamland Deluxe / 별의 커비 wii 디럭스 or Kirby's Forgetten Land / 별의커비 디스커버리)")

⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⠤⠖⠚⠉⠉⠀⠀⠀⠀⠉⠉⠙⠒⠤⣄⡀⠀⠀⣀⣠⣤⣀⡀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⠖⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⢯⡀⠀⠀⠀⠉⠳⣄⠀
⠀⠀⣀⠤⠔⠒⠒⠒⠦⢤⣀⢀⡴⠋⠀⠀⠀⠀⠀⠀⠀⠀⢠⣤⣄⠀⠀⠀⠀⠀⣴⢶⣄⠀⠀⠀⠉⢢⡀⠀⠀⠀⠘⡆
⢠⠞⠁⠀⠀⠀⠀⠀⠀⠀⠈⢻⡀⠀⠀⠀⠀⠀⠀⠀⠀⢠⡟⠀⢹⣧⠀⠀⠀⠀⣿⠀⢹⣇⠀⠀⠀⠀⠙⢦⠀⠀⠀⣧
⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣦⣼⣿⡇⠀⠀⠀⢿⣿⣿⣿⡄⠀⠀⠀⠀⠈⢳⡀⢀⡟
⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡸⠁⠀⠀⠀⠀⠀⠀⠀⠀⠈⣿⡿⠿⠿⣿⠀⠀⠀⠘⣿⡛⣟⣧⠀⠀⠀⠀⠀⠀⢳⠞⠀
⢳⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣷⡄⢴⡿⠀⠀⠀⠀⠘⣿⣷⡏⠀⢀⡠⠤⣄⠀⠀⣇⠀
⠀⢳⡀⠀⠀⠀⠀⠀⠀⢠⠏⠀⠀⠀⠀⠀⣠⠄⠀⠀⠀⠀⠀⠈⠛⠛⠁⣀⡤⠤⠤⠤⢌⣉⠀⠀⢠⡀⠀⠀⡱⠀⢸⡄
⠀⠀⠙⠦⣀⠀⠀⠀⣰⠋⠀⠀⠀⠀⠀⠸⣅⠀⠀⢀⡀⠀⠀⠀⢀⠴⠋⠀⠀⠀⠀⠀⠀⠈⠳⣄⠀⠈⠉⠉⠀⠀⢘⣧
⠀⠀⠀⠀⠈⠙⢲⠞⠁⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠁⠀⠀⠀⣰⣋⣀⣀⣀⣀⠀⠀⠀⠀⠀⠀⠈⢧⠀⠀⠀⠀⠀⢐⣿
⠀⠀⠀⠀⠀⠀⢸⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡰⠁⠀⠀⠀⠀⠀⠉⠙⠒⢤⣀⠀⠀⠈⣇⠀⠀⠀⠀⠀⣿
⠀⠀⠀⠀⠀⠀⠘⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠳⣄⠀⢸⠀⠀⠀⠀⢠⡏
⠀⠀⠀⠀⠀⠀⠀⢳⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⡆⠘⣧⠀⠀⠀⣸⠀
⠀⠀⠀⠀⠀⠀⠀⡟⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢱⢰⠏⠀⠀⢠⠇⠀
⠀⠀⠀⠀⠀⠀⢸⠁⠘⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡼⣸⠀⠀⢀⠏⠀⠀
⠀⠀⠀⠀⠀⠀⣿⠀⠀⠘⢆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡴⣣⠃⠀⣠⠏⠀⠀⠀
⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠈⠳⣄⠀⠀⠀⠀⠀⠀⠀⠀⠘⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡤⠞⡱⠋⢀⡴⠁⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⠈⠣⣄⠀⠀⠀⠀⠀⠀⠀⠹⣄⠀⠀⠀⠀⢀⣀⡤⠖⢋⡠⠞⢁⡴⠋⡇⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠸⡄⠀⠀⠀⠀⠀⠀⠈⠙⠢⣄⡀⠀⠀⠀⠀⠈⠙⠯⠭⢉⠡⠤⠴⠒⣉⠴⠚⠁⠀⢰⠃⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⢳⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢹⠖⠲⠤⠤⠤⠤⠤⠤⢶⡖⠚⠉⠀⠀⠀⠀⢀⡞⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢳⡀⠀⠀⠀⠀⠀⠀⠀⠀⡰⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠲⠤⠤⠤⠤⠔⠋⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢤⡀⠀⠀⠀⠀⣠⠞⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠛⠑⠒⠒⠋⠂⠐⠒⠀⠀⠒⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
Jelly fellowa, I play this character on Super Smash Bros Ultimate, I wish This Character Game(Kirby Return to Dreamland Deluxe / 별의 커비 wii 디럭스 or Kirby's Forgetten Land / 별의커비 디스커버리)

# 2. 학번과 이름을 입력 받아 출력하세요.
# 변수명 : number, name

In [6]:
print("19", "이준형")

19 이준형

# 3. 정수 두개를 입력받아 연산을 출력하세요.[ +, -, *, **, /, //, % ]
# 변수명: num1, num2

In [4]:
num1 = int(input())
num2 = int(input())
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1**num2)
print(num1/num2)
print(num1//num2)
print(num1%num2)

 25
 5

30
20
125
9765625
5.0
5
0

# 4. 두 수를 문자열로 한줄애 입력 받아 정수로 변환후 연산을 출력하세요.
# [ +, -, *, **,  /, //, % ]
# 변수명
# num1, num2

In [2]:
[num1,num2] = map(int,input().split())
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1**num2)
print(num1/num2)
print(num1//num2)
print(num1%num2)

 25 5

30
20
125
9765625
5.0
5
0

#  5. 세 수 를 문자열로 한줄애 입력 받아 각각 실수, 정수, 문자열로 변경후 변수의 타입을 확인하세요.
# 변수명
# text1, text2, text3

In [7]:
[text1,text2,text3] = map(str,input().split())
text1 = int(text1)
text2 = float(text2)
text3 = str(text3)
print(type(text1))
print(type(text2))
print(type(text3))

 2 2 2

<class 'int'>
<class 'float'>
<class 'str'>

# 6. 두 정수를 한줄에 입력 받아 모든 비교 연산자를 사용해 결과를 출력하세요[ <, >, <=, >=, == ]
# 변수명
# n1, n2

In [9]:
n1 = int(input())
n2 = int(input())

if n1 < n2:
    print("<")
elif n1 > n2:
    print(">")
elif n1 <- n2:
    print("<=")
elif n1 >= n2:
    print(">=")
elif n1 == n2:
    print("==")

 25
 5

>

# 7. 이동거리를 입력받아 어떤 이동수단을 이용하면될지 정해주는 프로그램을 작성하세요.
# 2km이하: 도보 / 10km이하 : 자전거 / 100km이하: 자동차 / 100km초과: 비행기
# 변수명: km

In [ ]:
km = int(input())

if 2 > km:
    print("도보")
elif 10 > km:
    print("자전거")
elif 100 > km:
    print("자동차")
elif 100 < km:
    print("비행기")

# 8. quest리스트를 만들어 [슬라임, 고블린, 오크, 드래곤, 스켈레톤, 마을주민]을 저장하고 
# 마을주민을 리스트에서 삭제하고 마녀를 리스트에 추가하세요.

In [11]:
quest = ["슬라임","고블린","오크","드래곤","스켈레톤","마을주민"]
quest.remove("마을주민")
quest.append("마녀")
print(quest)

['슬라임', '고블린', '오크', '드래곤', '스켈레톤', '마녀']

# 9.quest리스트를 만들어 [슬라임, 고블린, 오크, 드래곤, 스켈레톤, 마녀]을 저장하고 드래곤에서 슬라임 까지만 출력하세요

In [41]:
quest = ['슬라임', '고블린', '오크', '드래곤', '스켈레톤', '마녀']

print( str(quest[3:]) + str(quest[:1:]))

['드래곤', '스켈레톤', '마녀']['슬라임']

# 10. 튜플을 만들고 타입을 출력하세요.
# 변수명: t

In [42]:
t = ("Tu" , 1, 1)
print(type(t))

<class 'tuple'>

# 11. 딕셔너리를 만들고 타입과 내용 하나를 출력하세요.
# 변수명 : d

In [44]:
d = {
    "CF": "BAN",
    "PT": "LS",
    "RY": "PN",
}
print(type(d),d)

<class 'dict'> {'CF': 'BAN', 'PT': 'LS', 'RY': 'PN'}

#  12. for문을 사용하여 1~10을 한줄에 출력하세요.

In [ ]:
for i in range(1,10):
    print(i)

# 13. for문을 이용하여 1~n까지 더하는 코드를 작성하세요.
변수명 : sum, n

In [48]:
sum = 0
n = 25
for i in range(1,n):
    sum+=i
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300

# 14. for문을 사용하여 구구단을 출력하세요.
# 변수명: gugu, dan

In [54]:
for gugu in range(2,10):
    print()
    for dan in range(1,10):
        print(gugu,"*",dan,"=",gugu*dan)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

# 15. 구구단을 가로로 츨력하세요.

In [55]:
for gugu in range(2,10):
    for dan in range(1,10):
        print(gugu,"*",dan,"=",gugu*dan, end=", ")

2 * 1 = 2, 2 * 2 = 4, 2 * 3 = 6, 2 * 4 = 8, 2 * 5 = 10, 2 * 6 = 12, 2 * 7 = 14, 2 * 8 = 16, 2 * 9 = 18, 3 * 1 = 3, 3 * 2 = 6, 3 * 3 = 9, 3 * 4 = 12, 3 * 5 = 15, 3 * 6 = 18, 3 * 7 = 21, 3 * 8 = 24, 3 * 9 = 27, 4 * 1 = 4, 4 * 2 = 8, 4 * 3 = 12, 4 * 4 = 16, 4 * 5 = 20, 4 * 6 = 24, 4 * 7 = 28, 4 * 8 = 32, 4 * 9 = 36, 5 * 1 = 5, 5 * 2 = 10, 5 * 3 = 15, 5 * 4 = 20, 5 * 5 = 25, 5 * 6 = 30, 5 * 7 = 35, 5 * 8 = 40, 5 * 9 = 45, 6 * 1 = 6, 6 * 2 = 12, 6 * 3 = 18, 6 * 4 = 24, 6 * 5 = 30, 6 * 6 = 36, 6 * 7 = 42, 6 * 8 = 48, 6 * 9 = 54, 7 * 1 = 7, 7 * 2 = 14, 7 * 3 = 21, 7 * 4 = 28, 7 * 5 = 35, 7 * 6 = 42, 7 * 7 = 49, 7 * 8 = 56, 7 * 9 = 63, 8 * 1 = 8, 8 * 2 = 16, 8 * 3 = 24, 8 * 4 = 32, 8 * 5 = 40, 8 * 6 = 48, 8 * 7 = 56, 8 * 8 = 64, 8 * 9 = 72, 9 * 1 = 9, 9 * 2 = 18, 9 * 3 = 27, 9 * 4 = 36, 9 * 5 = 45, 9 * 6 = 54, 9 * 7 = 63, 9 * 8 = 72, 9 * 9 = 81,

# 16. 1부터 n까지의수중 홀수만 더하는 코드를 작성하세요.
# 변수명: n,i,sum

In [57]:
sum = 0
n = 19
for i in range(1, n):
    if i % 2:
        sum+=i

print(sum)

81

# 17. 리스트에서 2의배수를 가져와 새 리스트를 생성하세요.
# 변수명 : nums, result, num

In [62]:
result = []
nums = [1,2,3,4,5,6,7,8,9,10]
for num in nums:
    if num % 2 == 0:
        result.append(num)
print(result)

[2, 4, 6, 8, 10]

# 18.정수n을 입력받아고 그 수를 뒤에서부터 한줄로 출력하세요.
# 변수명: n,l,i,rnum

In [189]:
n = int(input())
l = len(str(n))
for i in range(l, 0, -1):
    rnum = n % 10
    print(rnum, end="")
    n //= 10

 12345

54321

# 19.문자열 text를 입력받아고 뒤에서부터 한줄로 출력하세요.
# 변수명: text

In [68]:
text = "text"
for i in range(len(text)):
    print(text[i])

t
e
x
t

# 20.while로 1~n까지 더하기를 하는 코드를 작성하세요.
# 변수명: 자유

In [70]:
n = 19
countach = 0
while countach != n:
    countach+=1
    
print(countach)

19

# 21. 짝수만 더하기 0입력시 종료하는 코드를 작성하세요
# 변수명: 자유

In [74]:
texta = 2
res = 0
while texta != 0:
    texta = int(input())
    if not (texta % 2):
        res+=texta
print(res)

 4
 8
 4
 2
 0

18

# 22.  비밀번호 맞추기(기회 제한)을 할수있는 코드를 작성하세요.
# 변수명: 자유

In [77]:
Result = "NIGA"
health = 4
while health != 0:
    text = str(input())
    if text == Result:
        print("Succeed!")
        health = 0
    else:
        health -= 1
print("game over")

 NIGA

Succeed!
game over

# 23. ?의 배수이면서 ?보다 큰 수만 출력하는 코드를 작성하세요.
# 변수명: 자유

In [82]:
x = int(input())
for i in range(0, 100):
    if (i % x == 0) and (x < i):
        print(i)

 6

12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

#  24.1부터 숫자를 더해 n 이상이 되는 시점을 찾으세요.
# 변수명: 자유

In [85]:
n = int(input())
for i in range(n+1):
    i+=1
print(i)

 25

26

# 25. 1부터 까지 홀수만 출력하는 코드를 continue를 사용해 작성하세요.
# 변수명: 자유

In [93]:
num1 = 0
for i in range(1, 100):
    if not i % 2:
        print(i)
    else:
        continue

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

# 26. 임의의 금지 숫자를 스킵하는 코드를 작성하세요.
# 0을 입력하면 종료 할수있게 하세요.
# 변수면: 자유

In [ ]:
fbi = 666
while x != 0:
    x = int(input())
    if fbi == x:
        continue
    else:
        print(x)

 666
 2

2

# 27. 숫자 중 5의 배수만 누적 코드를 작성하세요. 0을 입력하면 종료되게하세요.
# 변수명: 자유

# 28. import로 random을 불러와서 함수 한번씩 다 써보기
# radom(), randrange(),randinit(),choice(), shuffle()

# 29. 슬롯머신을 만드세요.

In [ ]:
coin = 2500
print("-=Slot Machine=- we checkin....")
print("-=Slot Machine=-", "your coin:",coin)
lost = int(input("Write Will U Lost: "))
1

# 30. 끝말잇기를 만드세요.